<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Listado de Clientes</h1>
        
        <a th:ref="@{/cliente/inicio}">Crear Cliente</a>
        
        <table style=" border:1px; border-color: black; border-style: solid">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.idCliente}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                
            </tr>
        </table>
    </body>
</html>
